@import 'global';

// start header

.header {
    border-bottom: 2px solid #919191;
    .header__inner {
        padding-left: 28px;
        padding-right: 28px;
        display: flex;
        justify-content: space-between;
        padding-top: 22px;
        padding-bottom: 5px;
        align-items: center;
        .header__logo {
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            color: #777777;
        }
        .header__search {
            input {
                font-size: 14px;
                line-height: 20px;
                color: #919191;
                padding: 7px 15px;
                outline: none;
                width: 380px;
                border: 1px solid #919191;
                border-radius: 5px;
            }
        }
        .header__basket {
            .basket {
                font-size: 14px;
                line-height: 20px;
                color: #444444;
                background-color: #f1f1f1;
                padding: 7px 50px 7px 45px;
                border: 1px solid #919191;
                border-radius: 5px;
            }
        }
    }
}


// end header
// start menu

.menu {
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 2px solid #ed1c24;
    .menu__list {
        display: flex;
        justify-content: space-between;
        font-size: 17px;
        line-height: 20px;
        padding-top: 14px;
        padding-bottom: 14px;
        a{
            color: #503737;
        }   
    }
}

// end menu
// start slider

.slider__item {
    background-image: url(../images/slider.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 460px;
    outline: none;
    .slider__title {
        position: absolute;
        width: 445px;
        right: 125px;
        top: 155px;
        color: #fff;
        h3 {
            font-size: 40px;
            line-height: 50px;  
            margin-bottom: 15px;
        }
        p {
            font-size: 14px;
            line-height: 25px;
        }
    }
}

// end slider
// start partner

.partner {
    .partner__inner {
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        .partner__item {
            margin: 0;
            width: 150px;
            text-align: center;

        }
    }
}

// end partner